{%macro AboutComponent()%}
<div id="about" >
    <h3 class="mb-4">About</h3>
    I am a person who was always interested in Science. In High School my focus was on Maths, Physics, Chemistry and Mechanics. After High School it took me a while to figure out which Field I should go and do my studies in.
    <br>
    <br>
    So I started with E-Commerce and after 1 year I switched to Computer Science. I did Computer Science also for 1 year and after all I realized that University was nothing for me and I was reading a lot of articles at that time where people claimed that there is no need of having a Bachelor in Computer Science to become a Coder/Programmer.
    <br>
    <br>
    One day I found an App called MIMO where you can do courses for Python, Web development and SQL which I did and this App led me to Strive School where I’m currently studying A.I Engineering. At Strive School I have great teachers and really cool Classmates.
    <br>
    <br>
    My future goal is to become someone who has an impact on changing the world to a better place.
</div>
{%endmacro%}
